<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storeImage</key>
	<string>https://image.tmdb.org/t/p/w500/</string>
	<key>mainApi</key>
	<string>https://api.themoviedb.org/3/</string>
	<key>popularMovies</key>
	<string>movie/popular</string>
	<key>topRatedMovies</key>
	<string>movie/top_rated</string>
	<key>trending</key>
	<string>trending/{media_type}/{time_window}</string>
</dict>
</plist>
